@import '../abstract/variaveis';

.main-container.header {
    background: radial-gradient(50% 50%, $cor-primaria 0%, $cor-secundaria 100%) 0% 0% no-repeat;
    box-shadow: 2px 2px 3px $text-color-shadown;
    padding-bottom: 100px;
    margin-top: 0px;
}

main.main-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1125px;
}
