// FONTE
$fonte: 'Montserrat', sans-serif;

// CORES
$cor-primaria: #267957;
$cor-secundaria: #0d583f;
$cor-fundo: #F2F2F2;
$cor-tercearia: #F2F2F2;
$cor-fundo-white: #ffffff;
$color-text-black: #000000;
$color-text-white: #ffffff;
$background-color: #ffffff;
$background-color-black: #212227;

/* TEXTE SHADOWS */
$text-color-shadown: #00000028;
